nbproject/
._*
.~lock.*
.buildpath
.DS_Store
.idea
.project
.settings
composer.lock

#######################
## External libraries
#######################
vendor/
data/

#######################
## Asset manager
#######################
public/assets
module/Application/assets/components

#######################
## Config
#######################
config/